stages:
  - build
  - test
build_website:
  image: node:22-alpine
  stage: build
  script:
    - node --version
    - npm --version
    - cd gitlab-cicd/learn-gitlab-app
    - npm ci
    - npm run build
  artifacts:
    paths:
      - gitlab-cicd/learn-gitlab-app/build/
test_website:
  image: alpine
  stage: test
  script:
    - test -f gitlab-cicd/learn-gitlab-app/build/index.html
unit_tests:
  image: node:22-alpine
  stage: test
  script:
    - cd gitlab-cicd/learn-gitlab-app
    - npm ci
    - npm run test
  artifacts:
    when: always
    reports:
      junit: gitlab-cicd/learn-gitlab-app/reports/junit.xml
eslint:
  image: node:22-alpine
  stage: test
  script:
    - cd gitlab-cicd/learn-gitlab-app
    - npm ci
    - npm run lint
  artifacts:
    reports:
      codequality: gl-codequality.json
